@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --offset: 2px;
    --border-size: 1px;
}

.signature{
    font-family: 'Homemade Apple', cursive;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.full-height {
    height: 100vh;
}

header{
    z-index: 2000;
}

.slanded-section {
    transform: skewY(-5deg); /* Ajustez l'inclinaison selon vos besoins */
    background-color: white; /* Couleur de fond de la section */
    color: #ffffff;
    z-index: 1000;
}

.c-overflow-hidden{
    overflow: hidden !important;
}

.skw {
    transform: skewY(5deg);
}

.content-height {
    height: 550px;
}

.image-height {
    height: 650px;
    z-index: 1000;
}

.negative-margin {
    margin-top: -90px;
}

.standard-height {
    height: 1300px;
}

.pageTitle{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
}


.transparent-color {
    background: rgba(0, 0, 0, 0.5);
}

.top-border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.card {
    width: 600px;
    bottom: -250px;
    height: 950px;
}


input {
    padding: 15px 10px;
    border: 1px solid #d3d3d3;
}

input:focus {
    outline: none;
}

select {
    padding: 15px 10px;
    background: white;
    border: 1px solid #d3d3d3;
}

select:disabled {

    color: #f3f3f3;

}

textarea {
    padding: 15px 10px;
    border: 1px solid #d3d3d3;
}

textarea:focus {
    outline: none;
}

.footer{
    width: 100%;
    background: white;
}


@media screen and (max-width: 767px) {
    .card{
        width: 91.67vw;
    }
}


