@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --offset: 2px;
    --border-size: 1px;
}


body {
    font-family: 'Poppins', sans-serif;
}

.full-height {
    height: 100vh;
}

.slanded-section {
    transform: skewY(-5deg); /* Ajustez l'inclinaison selon vos besoins */
    background-color: white; /* Couleur de fond de la section */
    color: #ffffff;
    z-index: 1000;
}

.c-overflow-hidden{
    overflow: hidden !important;
}

.skw {
    transform: skewY(5deg);
}

.content-height {
    height: 550px;
}

.image-height {
    height: 650px;
    z-index: 1000;
    position: absolute;
    right: 0;
}

.negative-margin {
    margin-top: -90px;
}

.standard-height {
    height: 1300px;
}


.custom-container {
    width: 850px;
    height: 500px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-container {
    height: 550px;
    width: 810px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content {
    height: 500px;
    width: 810px;
    overflow: hidden;
}


.card-container {
    height: calc(100% - 40px);
    width: 100%;
    border: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-container-inside {
    height: calc(100% + 40px);
    width: calc(100% - 40px);
    border: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container-content {
    height: calc(100% - 40px);
    width: calc(100% + 40px);
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}

.transparent-color {
    background: rgba(0, 0, 0, 0.5);
}

.top-border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.card {
    width: 600px;
    bottom: -250px;
    height: 950px;
}


input {
    padding: 15px 10px;
    border: 1px solid #d3d3d3;
}

input:focus {
    outline: none;
}

select {
    padding: 15px 10px;
    background: white;
    border: 1px solid #d3d3d3;
}

select:disabled {

    color: #f3f3f3;

}

textarea {
    padding: 15px 10px;
    border: 1px solid #d3d3d3;
}

textarea:focus {
    outline: none;
}

.footer{
    width: 100%;
    background: white;
}



